h4{
  font-family: 'Headland One', serif;
  font-size: 25px;
}

.content-box{
  margin: 5% auto;
  width: 70%;
}

.columns{
  width: 50%;
  float:left;
}

#picturewidth{
  width:150%;
}
