h1{
  font-family: 'Amita', cursive;
  border:30px solid #d5e0f2;
  background-color: #d5e0f2;
  text-align:center;
}
/*comment*/
h4{
  font-family: 'Headland One', serif;
  text-align:center;
}

#my-navbar {
  background-color: #c5ddc9;
  padding: 2%

}

#navbarDropdown {
  color: #000000;
}

footer {
    display: flex;
    padding: 10px 5px;
    margin: 50px 0px 0px;
    background-color: #d5e0f2;
    color: #fff;
}

footer p {
    flex: 1;
    margin: 0;
